/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
   .single_service-item h4.subtitle {
    font-weight: 400;
    font-size: 13px;
}

.single_service-item p.info {
    font-weight: 400;
    font-size: 11px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
     
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
