.hero-area.hero-bg{
    background-image: url('/video-24/img/city-road-backgrund.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
    background-size: cover;
}
.hero-area.hero-bg::after{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: #263238;
    opacity: .8;
}
.hero-area{
    position: relative;
    z-index: 1;
}

.hero_absolute_img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

.hero_container {padding: 200px 0;}

.hero_container h3 {
    font-size: 38px;
    color: #E4AC21;
    line-height: 62px;
    font-weight: 300;
}

.hero_container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin: 30px 0;
}

.hero_container .read_more {
    border: 1px solid #fff;
    background: transparent;
    color: #DEA822;
    position: relative;
    padding: 15px 30px;
}

.hero_container .read_more::after {
    position: absolute;
    top: 50%;
    right: 9px;
    font-size: 15px;
    color: #fff;
    content: "\f105";
    margin-top: -8px;
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
}

.menu_lit ul li {
    display: inline-block;
    padding: 23px;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    padding-right: 0;
}

.menu_lit ul li a {
    display: block;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}

header.header-area {
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
}

.menu_lit ul li::before {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #C39527;
    content: "";
    border-radius: 30px;
    margin-top: -10px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.menu_lit ul li::after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    content: "";
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: red;
    opacity: 0;
    visibility: hidden;
}

.menu_lit ul li:hover::before {
    opacity: 1;
    visibility: visible;
}

.menu_lit ul li:hover::after {
    opacity: 1;
    visibility: visible;
}