.single_item {
    background-color: #999;
    background-image: url('/video-123/img/video_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px #ddd;
}
.single_item.bg-2{background-image: url('/video-123/img/city-people.jpg');}
.single_item.bg-3{background-image: url('/video-123/img/city-road-backgrund.jpg');}
.single_item.bg-4{background-image: url('/video-123/img/testimonials_bg.png');}
.single_item.bg-5{background-image: url('/video-123/img/video-7--1.jpg');}
.single_item.bg-6{background-image: url('/video-123/img/video-7-1.jpg');}
.single_item.bg-7{background-image: url('/video-123/img/video-7_2.jpg');}
.single_item.bg-8{background-image: url('/video-123/img/video-8_1.jpg');}
.single_item.bg-9{background-image: url('/video-123/img/video-8_2.jpg');}
.single_item.bg-10{background-image: url('/video-123/img/video-8_3.jpg');}
.single_item.bg-11{background-image: url('/video-123/img/video-8_4.jpg');}
.single_item.bg-12{background-image: url('/video-123/img/video-one-office-staff_background_jpg_image-1.jpg');}
.single_item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: #ddd;
    transform: scale(.5);
    transition: .2s;
    opacity: 0;
    visibility: hidden;
}
.single_item:hover::after {
    opacity: .5;
    visibility: visible;
    transform: scale(1);
}
.height-500{
    height: 600px;
    background-color: #444;
}
.height-600{
    height: 700px;
    background-color: #ff3d4f;
}
.filtering .button-group.filter-button-group {
    text-align: center;
    margin-bottom: 120px;
}

.filtering .button-group.filter-button-group button {
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
    background: #999;
    padding: 20px 39px;
    margin: 0 11px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.filtering .button-group.filter-button-group button:hover{
    color: #999;
    box-shadow: 0 0 10px #ddd;
}

.filtering .button-group.filter-button-group button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    content: "";
    z-index: -1;
    transition: .4s;
    transform: scale(.5);
    padding: 30px;
    opacity: 0;
    visibility: hidden;
}

.filtering .button-group.filter-button-group button:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}