.banner_2.banner-bg {
     background: #F4F1ED;
     position: relative;
     z-index: 1;
     min-height: 600px;
 }
 .banner_container {
     text-align: center;
     padding-top: 50px;
    padding-bottom: 41%;
 }
 
 .banner_container h1 {
     font-weight: 400;
     font-size: 56px;
     line-height: 64px;
     margin-bottom: 15px;
 }
 
 .banner_container h1 strong {
     font-weight: 700;
 }
 .banner_absolute_bg{
     background-image: url('/Marclean/images/latest-post/image-6.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 300px;
     position: absolute;
     width: 100%;
     bottom: 0;
     left: 0;
 }
 .banner_absolute_bg::after{
     position: absolute;
     width: 100%;
     height: 100%;
     content: "";
     background-image: url('/Marclean/images/hero/home-2-bg.png');
     background-position: center;
     background-repeat: no-repeat;
     min-height: 394px;
     height: 100%;
     left: 0;
     bottom: 0;
 }
 .banner_absolute_bg .shape_1 > i {
     width: 60px;
     height: 60px;
     background: #fff;
     text-align: center;
     line-height: 60px;
     font-size: 24px;
     color: #FCC419;
     border-radius: 16px;
 }
 
 .banner_absolute_bg .shape_2 > i {
     width: 36px;
     height: 36px;
     background: #FCC419;
     color: #fff;
     text-align: center;
     line-height: 36px;
     border-radius: 30px;
 }
 
 .banner_absolute_bg .shape_2 > h5 {
     font-weight: 600;
     font-size: 14px;
     line-height: 17px;
     margin-bottom: 0;
 }
 
 .banner_absolute_bg .shape_2 > h5 span {
     font-size: 12px;
     font-weight: 400;
     line-height: 15px;
     display: block;
     padding-top: 5px;
 }
 
 @keyframes animated {
     100%{
          transform: translateY(-20px);
     }
 }
 .banner_absolute_bg .shape_2 {
     display: flex;
     align-items: center;
     gap: 8px;
     background: #fff;
     /* justify-content: flex-end; */
     width: 175px;
     position: absolute;
     right: -12px;
     padding: 19px 15px;
     border-radius: 16px;
     box-shadow: 0 18px 52px rgb(0 0 0 /5%);
     top: -102px;
     animation: animated 3s linear .4s infinite alternate;
 }
 
 .banner_absolute_bg .shape_1 {
     position: absolute;
     top: -30px;
     animation: animated 3s linear .4s infinite alternate;
     left: 58px;
 }


 /* malware partner */
 .malware_cleanup_left.malware_partner_bg{
    background-image: url('/Marclean/images/malware_partner/malware_partner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background-size: cover;
 }
 .malware_cleanup_left .malware_content h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212529;
    margin-bottom: 0;
}

.malware_cleanup_left .malware_content h5 span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 6px;
}
.malware_cleanup_left .malware_content > i {
    font-size: 40px;
    color: #FCC419;
}

.malware_cleanup_left .malware_content {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 286px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    bottom: 35px;
    left: -49px;
    transition: .5s;
    animation: animated_to_left 2s linear .4s infinite alternate;
}
@keyframes animated_to_left {
    100%{
        transform: translateX(-20px);
    }
}
.malware-cleanup_right .malware_lock_icon > i {
    width: 70px;
    height: 70px;
    background: #FCC419;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    border-radius: 50px;
    margin-bottom: 15px;
}

.malware-cleanup_right {
    padding-left: 65px;
    position: relative;
    z-index: 1;
}

.malware-cleanup_right h1 {
    font-weight: 400;
    font-size: 33px;
    line-height: 54px;
    margin-bottom: 15px;
    color: #CED4DA;
}

.malware-cleanup_right p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #CED4DA;
    margin-bottom: 60px;
}
.malware_cleanup.section_bg {
    background: #212529;
    position: relative;
}
.malware_verified_list .single_list > i {width: 64px;height: 64px;background: #CFE3FC;text-align: center;line-height: 64px;font-size: 24px;border-radius: 50px;margin-bottom: 15px;}

.malware_verified_list .single_list h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 0;
}

.malware_verified_list {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* customer service */
.customer_service {
    position: relative;
    padding-top: 160px;
}


/* 
preloader */

#preloader {
    position: fixed;
    z-index: 999999;
    background: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A0816C;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A0816C;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A0816C;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.malware_container_wrap.malware_bg{
    background-image: url(/Marclean/images/malware_problem/malware-problem-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.malware_container_wrap {
    padding: 50px;
    border-radius: 25px;
}

.malware_content h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
}

.malware_content h1 > span {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #CED4DA;
    margin-bottom: 5px;
}

.malware_content h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #CED4DA;
    margin-bottom: 40px;
}

.malware_content a.scan-btn {
    background: #FCC419;
    padding: 14px 60px;
}

/* malware problem css */
.customer_review.gradient_bg {
    background: linear-gradient(to right,  rgba(207,227,252,1) 0%,rgba(228,244,237,1) 100%);
    padding: 160px 0;
}
.customer_review h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.single_carousel_top .quote_icon > i {
    width: 70px;
    height: 70px;
    background: linear-gradient(to right,  rgba(207,227,252,1) 0%,rgba(228,244,237,1) 100%);
    text-align: center;
    line-height: 70px;
    border-radius: 50px;
    font-size: 30px;
}

.single_carousel_item {
    background: #fff;
    padding: 40px 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.single_carousel_top .star_group i {
    color: #FCC419;
    font-size: 20px;
}

.single_carousel_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.single_heading h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0;
}
.customer_carousel_list_wrap .single_heading h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0;
}

.single_heading {
    margin-bottom: 32px;
}
.single_cart_bottom .man_img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.single_cart_bottom .info h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #212529;
    margin-bottom: 0;
}

.single_cart_bottom .info h4 > span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #868E96;
}

.single_cart_bottom {
    display: flex;
    align-items: center;
    gap: 16px;
}
.customer_carousel_list_wrap .owl-stage-outer {
    overflow: visible;
}
.customer_carousel_list_wrap_two .owl-stage-outer {
    overflow: visible;
}
html,body{
    overflow-x: hidden;
}


/* successful_story */
.successfull_women_contaienr.women-bg{
    background-image: url('/Marclean/images/malware_partner/malware_partner.jpg');
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    height: 100%;
}
.successfull_women_contaienr a > i {
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    color: #000;
    border-radius: 50px;
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;
}

.successfull_women_contaienr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.success_story_wraper {
    background: #F4F1ED;
    padding: 36px 60px 37px 36px;
    border-radius: 25px;
}

.successful_women_container_content .double_qoute_icon > i {
    width: 70px;
    height: 70px;
    background: #FCC419;
    text-align: center;
    line-height: 70px;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 30px;
}

.successful_women_container_content > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #212529;
    margin-bottom: 40px;
}

.successful_women_container_content h4.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
/* successful_story */

/* case study */
.case_study_bg img{
    margin-bottom: 60px;
}
.case_study_step_wrap .single_step .case_one span {
    width: 40px;
    height: 40px;
    background: #FCC419;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 0 0 5px #ddd;
    font-weight: 600;
    font-size: 20px;
}

.case_study_step_wrap .single_step .content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #495057;
    margin-bottom: 0;
}

.case_study_step_wrap .single_step .content h4 {
    margin-bottom: 10px;
}

.single_step {
    display: flex;
    gap: 24px; 
    cursor: pointer;
}
.case_study_step_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 44px;
    margin-top: 60px;
}
/* case study */

/* experience wp-safe */
.experience_wp-safe.section-bg{
    background-image: url('/Marclean/images/experience_wp/experience_wp-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.expericen_wp-safe_content h1 strong {
    color: #fff;
}

.expericen_wp-safe_content h1 span {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.expericen_wp-safe_content {
    text-align: center;
}

.expericen_wp-safe_content h1 {
    margin-bottom: 30px;
    color: #CED4DA;
}

.expericen_wp-safe_content > p {
    margin-bottom: 40px;
}

.experienc_wp-safe_box {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 96px;
}
.experienc_wp-safe_box .single_wp-safe-box .single_box_icon > i {
    width: 60px;
    height: 60px;
    background: #FCC419;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0 0 5px #444;
    margin-bottom: 15px;
}

.experienc_wp-safe_box .single_wp-safe-box .single_box_container h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    color: #fff;
}

.experienc_wp-safe_box .single_wp-safe-box .single_box_container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #CED4DA;
}

.single_wp-safe-box {text-align: center;}
/* experience wp-safe */
/* security process */
.security_process_wrap.security_wrapper_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 34px;
}
.security_process_wrap a.single_process_item{
    text-align: center;
}
/* security process */

/* main footer */
.footer_main_container {
    text-align: center;
}

.footer_main_container ul.footer_menu_area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 43px;
}

.footer_main_container ul.footer_menu_area li > a {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #495057;
}
.footer_area{
    position: relative;
}
.footer_area::after{
    content: "";
    display: none;
}
.footer_main_container{
    position: relative;
    z-index: 1;
}
.footer_main_area::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0;
    content: "";
    z-index: -1;
    background-image: url('/Marclean/images/footer/footer_shape.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* main footer */