.banner.banner-bg{
    background-image: url('/Marclean/images/hero/banner_bg.png');
    background-color: #444;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 100%;
}

/* sticky header */
.sticky_header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
/* sticky header */
/* header area */
.header_left_area .mean-menu ul li {
    display: inline-block;
    padding: 32px;
    padding-right: 0;
}
.mean-menu ul li.active a {
    color: #FCC419;
}

.header_left_area .mean-menu ul li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #495057;
    text-transform: uppercase;
}

.header_left_area a.logo {display: block;padding-top: 8px;}

.header-area .header-right-area a.user-login {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    line-height: 30px;
    color: #495057;
    background: #F8F9FA;
    border-radius: 30px;
    border: 1px solid #E9ECEF;
}

.header-area {
    background: #fff;
    box-shadow: 0 0 5px #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: .5s;
}

.header-area .header-right-area a.user-login span {
    padding-right: 5px;
}

.header-right-area {
    margin-top: 27px;
    margin-bottom: 0;
}

/* banner */
/* owl-dots */
.banner_carousel_list .owl-dots div {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    margin: 0 16px;
    border-radius: 30px;
    transition: .5s;
    opacity: .4;
}

.banner_carousel_list .owl-dots {
    position: absolute;
    bottom: 175px;
    left: 50%;
    margin-left: -76px;
}

.banner_carousel_list .owl-dots div:hover {
    opacity: 1;
}

.banner_carousel_list .owl-dots div.active {
    width: 30px;
    opacity: 1;
}
/* owl-dots */
.single_banner_carousel_item .banner_logo img {
    width: 50px;
    height: 50px;
}

.single_banner_carousel_item .banner_logo {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.single_banner_carousel_item{
    padding-top: 180px;
    padding-bottom: 250px;
}
.single_banner_carousel_item.content-table {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.single_banner_carousel_item.content_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.content_table_cell {
    display: table-cell;
    vertical-align: middle;
}
.single_banner_carousel_item h3 {
    font-size: 54px;
    font-weight: 400;
    line-height: 64px;
    color: #fff;
    margin-bottom: 15px;
}

.single_banner_carousel_item h3 strong {
    font-weight: 700;
    color: #FCC419;
}
.single_banner_carousel_item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #CED4DA;
}
.banner.banner-bg::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    content: "";
    z-index: -1;
    opacity: .8;
}

.mean-menu ul li > ul.dropdown {
    position: absolute;
    top: 100%;
    left: -30px;
    width: 250px;
    background: #fff;
    z-index: 2;
    opacity: 0;
    box-shadow: 0 0 5px #fff;
    border: 1px solid transparent;
    visibility: hidden;
    padding: 20px 20px;
    transition: .5s;
}

.mean-menu ul li > ul.dropdown li {padding: 0;display: block;/* margin-bottom: 20px; */padding: 10px 10px;border-bottom: 1px solid #ddd;transition: .5s;}

.mean-menu ul li:hover > ul.dropdown {
    opacity: 1;
    left: 0;
    visibility: visible;
}

.mean-menu ul li > ul.dropdown li {
    position: relative;
    z-index: 1;
    /* padding-left: 17px; */
}

.mean-menu ul li > ul.dropdown li::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 11px;
    height: 2px;
    background: #444;
    content: "";
    border-radius: 30px;
    margin-top: -1px;
    transition: .4s;
    transform: scale(.2);
    opacity: 0;
    visibility: hidden;
}

.mean-menu ul li > ul.dropdown li:hover::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.mean-menu ul li > ul.dropdown li:hover {
    padding-left: 17px;
}
.mean-menu ul li:hover > a {
    color: #FCC419;
}

/* banner end */

/* customer service */
.customer_service_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 24px;
}

.customer_service {
    position: relative;
    margin-top: -77px;
    transition: .5s;
    z-index: 1;
}
.single_service_item {
    display: block;
    padding:40px 30px;
    border-radius: 12px;
    background: #fff;
    border-bottom: 1px solid #E9ECEF;
    transition: .5s;
    box-shadow: 0 18px 52px rgb(0 0 0 /5%);
}
.single_service_item:hover{
    transform: translateY(-40px);
    box-shadow: 0 18px 52px rgb(0 0 0 /12%);
}


.single_service_item .service_icon > i {
    /* width: 40px; */
    /* height: 40px; */
    color: #FCC419;
    font-size: 40px;
    margin-bottom:24px;
}

.single_service_item .service_content h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom:10px;
    color: #212529;
}

.single_service_item .service_content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #495057;
}
/* customer service */

/* site report */
.single_report_item .report_icon > i {
    font-size: 60px;
    color: #ADB5BD;
    transition: .5s;
}

.single_report_item {
    display: block;
    transition: .5s;
}

.single_report_item .report_sub_title h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #212529;
}

.single_report_item .report_sub_title h3 > span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #495057;
}
.single_report_item .report_icon > i {
    font-size: 60px;
    color: #ADB5BD;
    margin-bottom: 15px;
}

.single_report_item {
    display: block;
    padding: 40px 108px 40px 30px;
}

.single_report_item .report_sub_title h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #212529;
    margin-bottom: 15px;
}

.single_report_item .report_sub_title h3 > span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #495057;
}

.single_report_item .report_sub_title p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #495057;
}
.site_report_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.single_report_item:nth-child(1), .single_report_item:nth-child(3) {
    border-right: 1px solid #ddd;
}

.single_report_item:nth-child(1), .single_report_item:nth-child(2) {
    border-bottom: 1px solid #ddd;
}
.single_report_item:hover {
    /* box-shadow: 0 0 5px red; */
    box-shadow: 0 8px 52px rgb(0 0 0 / 12%);
}

.single_report_item:hover .report_icon > i {
    color: #FCC419;
}
.site_report_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.single_report_item:nth-child(1), .single_report_item:nth-child(3) {
    border-right: 1px solid #ddd;
}

.single_report_item:nth-child(1), .single_report_item:nth-child(2) {
    border-bottom: 1px solid #ddd;
}

.single_report_item:hover {
    /* box-shadow: 0 0 5px red; */
    box-shadow: 0 8px 52px rgb(0 0 0 / 12%);
}

.single_report_item:hover .report_icon > i {
    color: #FCC419;
}

.section-title h2 {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    color: #212529;
    margin-bottom: 30px;
}

.section-title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.section-title {
    margin-bottom: 90px;
}
/* site report */

/* malware page */
.call_to_action_container {
    padding: 90px 134px;
    border: 1px solid #E9ECEF;
    background: #F8F9FA;
    border-radius: 18px;
}

.call_to_action_container .action_icon > i {
    font-size: 60px;
    color: #FCC419;
}

.call_to_action_container h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 15px;
}

.call_to_action_container > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #868E96;
}

.call_to_action_container a.call_to_action_btn {
    border: 2px solid #212529;
    padding: 9px 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 12px;
    color: #212529;
    display: inline-block;
    margin-top: 40px;
}

.call_to_action_container a.call_to_action_btn > i {padding-left: 15px;}
/* malware page */

/* ai service */
.ai_seamless .section-title h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 30px;
}

.ai_seamless .section-title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #868E96;
}
.single_ai_service_item .ai_bg{
    background-image: url('/Marclean/images/ai_service/ai_service-1.png');
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 18px;
    position: relative;
    z-index: 1;
    border-top-right-radius: 18px;
}
.single_ai_service_item .bg-2{
    background-image: url('/Marclean/images/ai_service/ai_service-2.png');
}
.single_ai_service_item .bg-3{
    background-image: url('/Marclean/images/ai_service/ai_service-3.png');
}
.single_ai_service_item .bg-4{
    background-image: url('/Marclean/images/ai_service/ai_service_4.png');
}
.single_ai_service_item {
    border: 1px solid #E9ECEF;
    border-radius: 18px;
    transition: .5s;
}

.single_ai_service_item .absolute_top_item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
    left: 25%;
    width: 50%;
    background: #fff;
    padding: 5px 18px;
    border-radius: 30px;
    position: absolute;
    top: -15px;
}

.single_ai_service_item .absolute_top_item > i {
    font-size: 12px;
}

.single_ai_service_item .absolute_top_item h4 {
    font-size: 9px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
    padding-left: 5px;
}

.single_ai_service_item .ai_content {
    padding: 25px;
}

.single_ai_service_item .ai_content h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #212529;
}

.single_ai_service_item .ai_content > p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 400;
}

.single_ai_service_item:hover {
    box-shadow: 0 18px 52px rgb(0 0 0/ 5%);
    transform: translateY(-15px);
}
/* ai service */

/* hackers bg */
.hackers.hackers-bg{
    background-image: url('/Marclean/images/hackers_section/hackers_bg.jpg');
    background-repeat: no-repeat;
    padding: 120px 0;
    color: #fff;

}
.hackers .start_with_price {
    text-align: center;
    padding-top: 120px;
}

.hackers .start_with_price h1.title {
    font-weight: 700;
    font-size: 78px;
    line-height: 90px;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 85px;
}
.hackers .start_with_price h1.title::after{
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -52px;
    font-family: "Font Awesome 5 Free";
    /* content:"\f21e"; */
    content: "";
    background-image: url('/Marclean/images/hackers_section/zigzag-shafe-1.png');
    font-weight: 700;
    width: 140px;
    height: 93px;
    background-repeat: no-repeat;
}

.hackers .start_with_price span.dashed_border {
    font-weight: 700;
    font-size: 78px;
    line-height: 90px;
    color: #FFC107;
    border: 2px dashed #FFC107;
    border-radius: 50px;
    padding: 3px 40px;
    margin-left: 10px;
    position: relative;
}

.hackers .start_with_price span.dashed_border::after {
    position: absolute;
    bottom: -28px;
    right: 5px;
    content: "\f06d";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #FFC107;
    font-size: 51px;
}
.start_with_price p.info span {
    color: #FA5252;
}

.start_with_price p.info {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    color: #fff;
    margin-bottom: 60px;
}

.website_visit_contact_form input[type=text] {
    padding: 25px 30px;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.website_visit_contact_form input[type=text]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ADB5BD;
}

.website_visit_contact_form form a.scan_btn {
    padding: 15px 30px;
    position: absolute;
    right: 29px;
    z-index: 2;
    margin-top: 13px;
    background: #FCC419;
    border-radius: 6px;
    color: #212529;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.website_visit_contact_form form a.scan_btn > i {
    padding-right: 5px;
}
.single_hackers_item .hackers_logo > i {
    font-size: 53px;
    color: #FCC419;
    display: block;
    margin-bottom: 15px;
}

.single_hackers_item h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 0;
}

.single_hackers_item {
    padding: 64px 86px;
    text-align: center;
}
.hackers_service_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.single_hackers_item:nth-child(1), .single_hackers_item:nth-child(2), .single_hackers_item:nth-child(3), .single_hackers_item:nth-child(5), .single_hackers_item:nth-child(6),.single_hackers_item:nth-child(7) {
    border-right: 1px solid #ddd;
}

.single_hackers_item:nth-child(1), .single_hackers_item:nth-child(2), .single_hackers_item:nth-child(3), .single_hackers_item:nth-child(4) {
    border-bottom: 1px solid #ddd;
}

.website_visit_contact_form {
    margin-bottom: 90px;
}
/* particles */

#use_particalse {
    position: relative;
    z-index: 1;
}

#use_particalse canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* hackers bg */

/* protection area */
.single_let_item {
    padding: 30px 60px;
    position: relative;
    z-index: 1;
}

.single_let_item .single_container h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    color: #212529;
    margin-bottom: 10px;
}

.single_let_item .single_container p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #868E96;
    margin-bottom: 0;
}

.single_let_item .indector_icon > i {
    position: absolute;
    right: 60px;
    top: 44%;
    font-size: 34px;
    transform: rotate(-49deg) translateY(-44%);
    color: #FCC419;
}
.protection .call_to_action_container {
    margin-top: 30px;
}
.security_assurance.security_bg {
    background: #444;
    color: #fff;
}

.security_container.text_varticllay_center {
    display: table;
    width: 100%;
    height: 100%;
}

.security_container.text_varticllay_center .security_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.security_container.text_varticllay_center i {
    font-size: 53px;
    margin-bottom: 15px;
}

.security_container.text_varticllay_center h1 {
    color: #fff;
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 30px;
}

.security_container.text_varticllay_center h1 span {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #CED4DA;
    margin-bottom: 5px;
}

.security_container.text_varticllay_center p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #CED4DA;
}
/* protection area */